.blog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.blog-container.button {
  display: flex;
  justify-content: space-between;
}

.blog-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.blog-posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.blog-post {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pointer{
  cursor: pointer;
}

.blog-post-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.blog-post-content {
  font-size: 1em;
  margin-bottom: 20px;
}

.blog-post-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.blog-buttons-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.blog-button {
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

.blog-button:hover {
  background-color: #0056b3;
}

.blog-edit-form input,
.blog-edit-form textarea {
  display: block;
  width: 80%;
  margin: 0 auto 10px;
  padding: 5px 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.blog-edit-form textarea {
  resize: vertical;
  height: 80px;
}

@media (max-width: 768px) {
  .blog-post-title {
    font-size: 1.3em;
  }

  .blog-post-content {
    font-size: 0.9em;
  }

  .blog-button {
    font-size: 0.9em;
  }

  .blog-edit-form input,
  .blog-edit-form textarea {
    width: 90%;
    font-size: 0.9em;
  }
}
