.data-container{ 
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.data-image{
    width: 700px;
    
}

h1 .data-heading{
    text-align: start;
    
}
.data-para{
    text-align: justify;
}
